.navbar {
  background-color: var(--palette-common-background);
  border-bottom: 1px solid rgb(224, 224, 224);
  position: fixed;
  width: 100%;
  height: 60px;

  .wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sugarfansLogo {
    width: 150px;
    height: 50px;
    cursor: pointer;
  }
}