.authenticationWrapper {
  background-color: var(--palette-common-background);
  display: flex;
  padding: 0 80px;

  .authenticationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;

    .sugarfansLogo {
      width: 200px;
    }

    .welcomeYou {
      font-size: 24px;
      font-weight: 800;
      color: var(--palette-primary-main);
      text-align: center;
      line-height: 50px;
    }

    form {
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }

    .divider {
      width: 50%;
      margin: 20px auto;
      opacity: 0.6;
    }
  }

  .switchForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    button {
      color: var(--palette-grey-800);
      padding: 4px 16px;

      &:hover {
        color: var(--palette-common-black);
      }
    }
  }
}
