:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

input {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
}

input:-webkit-autofill { 
  -webkit-background-clip: text;
}

svg {
  fill: var(--palette-text-primary)
}

.navbarSpace {
  margin-top: 60px;
}
