.background {
  width: 100%;
  height: 675px;
  background-color: #a1ccd1;

  .wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    .headerText {
      position: relative;
      display: flex;
      width: 100%;

      .headerTextWrapper {
        margin-bottom: 50px;
        margin-right: 70px;
        text-align: center;
        text-shadow: 0 0 20px black;
        color: white;
        position: absolute;
        left: 0;
        bottom: 0;

        .headerText1 {
          font-size: 49px;
          line-height: 47px;
          font-weight: 900;
        }

        .headerText2 {
          margin-top: 30px;
          font-weight: 800;
          font-size: 30px;
        }
      }
    }
  }
}
