.forgotPasswordWrapper {
  display: flex;

  .forgotPassword {
    text-decoration: underline;
    cursor: pointer;
    color: var(--palette-primary-main);
    font-weight: 800;
    margin-bottom: 20px;
  }
}
